.sidebar {
  height: calc(100vh - 20px);
  width: 50%;
  background-color: var(--color-dark-1);
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}
.citycountry {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  background-color: var(--color-dark-2);
  border-radius: 10px;
}
.citycountry a p {
  text-decoration: none;
  background-color: var(--color-dark-2);
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}
.active {
  background-color: black !important;
}
.citycountry a:hover {
  color: var(--color-brand--2);
}
@media (max-width: 1092px) {
  .sidebar {
    width: 65%;
    max-height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 792px) {
  .sidebar {
    width: 100%;
    height: calc(60vh - 10px);
    padding-bottom: 20px;
    overflow: scroll;
  }
  .logo {
    align-self: flex-start;
    margin-top: 60px;
  }
}
