.cityitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--color-dark-2);
  border-left: 3px solid rgb(10, 163, 10);
  border-radius: 8px;
  text-decoration: none;
  color: white;
}
.cityitem:hover {
  color: white;
}
.cityitemcontent {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.cityitemcontent button {
  width: fit-content;
  border-radius: 50%;
  color: white;
  background-color: black;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}
@media (max-width: 892px) {
  .cityitem {
    font-size: 18px;
  }
}
@media (max-width: 662px) {
  .cityitem {
    font-size: 15px;
  }
}
